<html>
  <head>
    <title>Schedules</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="js/home.js"></script>
    <link rel="stylesheet" href="css/home.css"/>
  </head>
  <body>
    <div class="table">
      That's it.....
    </div>
    <footer>
      
    </footer>
  </body>
</html>